python-telegram-bot==12.8
cryptography<3.4
PySocks
    # plugin: telegram
cloudscraper
    # plugin: cfscraper
rarfile
    # plugin: decompress
transmission-rpc
deluge-client
irc-bot<1.0.40
    # plugin: others
flexget
